.list-item-container {
  display: flex;
  align-items: center;
}
.time-accessed {
  min-width: 200px;
}
.web-item-container {
  display: flex;
  min-width: 800px;
  align-items: center;
}
.brand-logo {
  height: 30px;
  margin-right: 15px;
}
.title {
  font-family: 'Roboto';
}
.domine-url {
}
.delete-img-container {
  background-color: #ffffff;
  border-style: none;
  cursor: pointer;
  outline: none;
}
.delete-img {
  cursor: pointer;
}
