.main-container {
  height: 100vh;
}
.upper-container {
  background-color: #3367d6;
  height: 60px;
  display: flex;
  align-items: center;
}
.search-container {
  display: flex;
  justify-content: center;
  margin-left: 200px;
}
.history-logo {
  margin-left: 100px;
}
.search-logo-container {
  padding: 10px;
  background-color: #2850a7;
  width: 60px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  outline: none;
  cursor: pointer;
}
.search-logo-container {
  height: 5vh;
}
.search {
  background-color: #2850a7;
  width: 500px;
  border-style: none;
  padding: 10px;
  color: #ececec;
  font-size: 16px;
  height: 35px;
}
.list-container {
  width: 80%;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  padding: 30px;
  border-radius: 20px;
}
.bottom-container {
  height: 90vh;
  display: flex;
  justify-content: center;
}
.there-is-no-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.there-is-no-text {
  font-size: 25px;
  font-family: 'Roboto';
}
